@charset "utf-8";
@import url(reset.css);
@import url(main.css);

#wrap{width: 100%; height: 100%; position: relative;}
header{z-index: 9;}
footer{z-index: 8; position: relative;}

/*기본 레이아웃 구성*/      
        #company_keyimage{
            position: relative; 
            /*키이미지 설정*/
            background: url(../images/about_company/company_keyimage.jpg) no-repeat center 0%; 
            background-attachment: fixed;
            background-size: cover;
            height: 500px;
            overflow: hidden;
        }
        .company_keytitle{position: relative; width: 100%; top: 230px; transition: 1s;}
        .company_line{
            width: 1px;
            height: 40px;
            background: white;
            position: relative;
            left: 50%;
            bottom: 20px;
            
        }
        h2.company_ment1{
            color: white;
            position: relative;
            text-align: center;
            font-size: 50px;
            font-family:'NanumSquareEB'; 
        }
        p.company_ment2{
            color: white;
            position: relative;
            text-align: center;
            font-size: 16px;
            letter-spacing: 1px;
            font-family:'NanumSquareB'; 
        }
        p.company_ment3{
            color: white;
            position: relative;
            top: 20px;
            text-align: center;
            font-size: 12px;
            letter-spacing: 1px;
            font-family:'NanumSquareB';
            opacity: 0.8;
        }


#company_intro {
    max-width: 1400px;
    margin: 100PX auto;
    position: relative;
}
#company_intro:after {
    content: '';
    display: block;
    clear: both;
}

#company_intro > .company_img {
    width: 50%;
    float: left;
}

#company_intro > .company_txt {
    width: 50%;
    float: right;
    padding: 50px;
}
#company_intro > .company_txt > h3 {
    font-size: 40px;
    font-family: "NanumSquareEB";
    color: #3b3b3b;
}
#company_intro > .company_txt > p {
    font-size: 16px;
    line-height: 28px;
}


#company_philosophy_bg {
    width: 100%;
    height: 600px;
    position: relative;
    background: #efeeee;
}
#company_philosophy {
    max-width: 1400px;
    margin: 0 auto;
    padding: 90px 0;
}
#company_philosophy > .company_philosophy_txt {
    width: 100%;
    text-align: center;
}
#company_philosophy > .company_philosophy_txt > h4 {
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
#company_philosophy > .company_philosophy_txt > p {
    font-size: 17px;
    line-height: 23px;
}
#company_philosophy > .company_philosophy_txt > p:nth-child(2) {
    letter-spacing: 0.5px;
}
#company_philosophy > .company_philosophy_txt > p:nth-child(3) {
    letter-spacing: 1px;
    font-weight: bold;
}


#company_philosophy > .company_philosophy_icon {
    width: 33.3333%;
    float: left;
    text-align: center;
    margin: 80px auto;
}
#company_philosophy > .company_philosophy_icon > p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.5px;
}


#company_strength_bg {
    width: 100%;
    height: 2000px;
    position: relative;
    background: url(../images/about_company/company_strength_bg.png) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
#company_strength_bg:after {
    content: '';
    background: #344359;
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 500px;
}
#company_strength {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
#company_strength > .company_strength_title {
    width: 100%;
    margin-top: 100px;
    padding-left: 30px;
}
#company_strength > .company_strength_title > h5 {
    color: #f9f9f9;
    font-size: 42px;
}
#company_strength > .company_strength_title > p {
    margin-top: 50px;
    margin-bottom: 80px;
    line-height: 30px;
    color: #f9f9f9;
    font-size: 18px;
}
#company_strength > .company_strength_info1 {
    color: #f9f9f9;
    width: 100%;
    position: relative;
    text-align: right;
}
#company_strength > .company_strength_info1:after {
    content: '';
    display: block;
    clear: both;
}
#company_strength > .company_strength_info1 > img {
    width: 50%;
}
#company_strength > .company_strength_info1 > p {
    font-size: 18px;
    line-height: 30px;
    width: 48%;
    float: right;
    margin-top: 300px;
    padding-right: 50px;
}
#company_strength > .company_strength_info1 > p > strong {
    font-size: 36px;
    display: block;
}


#company_strength > .company_strength_info2 {
    color: #f9f9f9;
    width: 100%;
    position: relative;
}
#company_strength > .company_strength_info2:after {
    content: '';
    display: block;
    clear: both;
}
#company_strength > .company_strength_info2 > img:nth-child(1) {
    width: 45%;
    float: right;
    text-align: center;
    margin: 100px 30px;
}
#company_strength > .company_strength_info2 > p:nth-child(2) {
    font-size: 18px;
    line-height: 30px;
    width: 48%;
    padding-top: 100px;
    padding-left: 30px;
}
#company_strength > .company_strength_info2 > p:nth-child(2) > strong {
    font-size: 36px;
    display: block;
}
#company_strength > .company_strength_info2 > img:nth-child(3) {
    width: 50%;
    margin-top: 150px;
    padding-left: 30px;
    float: left;
}
#company_strength > .company_strength_info2 > p:nth-child(4) {
    font-size: 18px;
    line-height: 30px;
    width: 48%;
    padding-right: 30px;
    float: right;
    margin-top: 150px;
    text-align: right;
}
#company_strength > .company_strength_info2 > p:nth-child(4) > strong {
    font-size: 36px;
    display: block;
}




/*미디어쿼리*/
@media all and (max-width:739px) {
    
    #company_keyimage{
        position: relative; 
        /*키이미지 설정*/
        background: url(../images/about_company/company_keyimage.jpg) no-repeat; 
        background-attachment: fixed;
        background-size: cover;
        height: 500px;
        overflow: hidden;
    }
    h2.company_ment1{
        color: white;
        position: relative;
        text-align: center;
        font-size: 45px;
        font-family:'NanumSquareEB'; 
    }
    
    
    
    #company_philosophy_bg {
        width: 100%;
        height: 1050px;
        position: relative;
        background: #efeeee;
    }
    #company_philosophy {
        max-width: 100%;
        margin: 0 auto;
        padding: 90px 0;
    }
    #company_philosophy > .company_philosophy_txt {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    
    #company_philosophy > .company_philosophy_icon {
        width: 100%;
        float: left;
        text-align: center;
        margin: 30px auto;
    }
    #company_philosophy > .company_philosophy_icon > p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.5px;
    }


    
    
    #company_intro {
        max-width: 100%;
        margin: 30PX auto;
        position: relative;
    }
    
    #company_intro > .company_img {
        width: 100%;
        padding: 30px 30px;
    }

    #company_intro > .company_txt {
        width: 100%;
        padding: 30px;
    }


    
    #company_strength_bg {
        width: 100%;
        height: 2500px;
        position: relative;
        background: url(../images/about_company/company_strength_bg.png) 0 0 no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
    }
    #company_strength_bg:after {
        content: '';
        background: #344359;
        width: 100%;
        height: 1800px;
        position: absolute;
        top: 500px;
    }
    #company_strength {
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 5;
    }
    #company_strength > .company_strength_title {
        padding: 0 30px;
        width: 100%;
    }
    #company_strength > .company_strength_title > h5 {
        color: #f9f9f9;
        font-size: 38px;
    }
    #company_strength > .company_strength_title > p {
        font-size: 16px;
        margin-bottom: 55px;
    }


    #company_strength > .company_strength_info1 > img {
        width: 100%;
        padding: 0 30px;
    }
    #company_strength > .company_strength_info1 > p {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        float: right;
        margin-top: 60px;
        padding: 0 30px;
    }
    #company_strength > .company_strength_info1 > p > strong {
        font-size: 34px;
        display: block;
    }


    #company_strength > .company_strength_info2 > img:nth-child(1) {
        width: 100%;
        float: none;
        text-align: center;
        margin: 60px 0;
        padding: 0 30px;
    }
    #company_strength > .company_strength_info2 > p:nth-child(2) {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        padding-top: 0px;
        padding: 0 30px;
    }
    #company_strength > .company_strength_info2 > p:nth-child(2) > strong {
        font-size: 34px;
        display: block;
    }
    
    
    #company_strength > .company_strength_info2 > img:nth-child(3) {
        width: 100%;
        margin: 60px 0;
        padding: 0 30px;
        float: none;
    }
    #company_strength > .company_strength_info2 > p:nth-child(4) {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        padding: 0 30px;
        float: none;
        margin-top: 0px;
        text-align: right;
    }
    #company_strength > .company_strength_info2 > p:nth-child(4) > strong {
        font-size: 34px;
        display: block;
    }
    
    
}

@media all and (min-width:740px) and (max-width:1023px) {
    
    #company_intro {
        max-width: 100%;
        margin: 50PX auto;
        position: relative;
    }
    
    #company_intro > .company_img {
        width: 100%;
        padding: 30px 50px;
    }

    #company_intro > .company_txt {
        width: 100%;
        padding: 50px;
    }


    
    #company_strength_bg {
        width: 100%;
        height: 3000px;
        position: relative;
        background: url(../images/about_company/company_strength_bg.png) 30% 0 no-repeat;
        background-size: auto;
        background-attachment: fixed;
        overflow: hidden;
    }
    #company_strength_bg:after {
        content: '';
        background: #344359;
        width: 100%;
        height: 2000px;
        position: absolute;
        top: 500px;
    }
    #company_strength {
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 5;
    }
    #company_strength > .company_strength_title {
        margin-left: 50px;
    }


    #company_strength > .company_strength_info1 > img {
        width: 100%;
        padding: 0 50px;
    }
    #company_strength > .company_strength_info1 > p {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        float: right;
        margin-top: 90px;
        padding: 0 50px;
    }


    #company_strength > .company_strength_info2 > img:nth-child(1) {
        width: 100%;
        float: none;
        text-align: center;
        margin: 90px 0;
        padding: 0 50px;
    }
    #company_strength > .company_strength_info2 > p:nth-child(2) {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        padding-top: 0px;
        padding: 0 50px;
    }
    
    
    #company_strength > .company_strength_info2 > img:nth-child(3) {
        width: 100%;
        margin: 90px 0;
        padding: 0 50px;
        float: none;
    }
    #company_strength > .company_strength_info2 > p:nth-child(4) {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        padding: 0 50px;
        float: none;
        margin-top: 0px;
        text-align: right;
    }


}