@charset "utf-8";
html, body { 
       position: relative; 
       height: 100%; 
     } 
#slide{height: 100%; position: relative; margin: 0; 
       padding: 0;}
.swiper-container { 
       width: 100%; 
       height: 100%; 
       margin-left: auto; 
       margin-right: auto; 
     } 
.swiper-slide { 
       text-align: center; 
       background-size: cover;
       /* Center slide text vertically */ 
       display: -webkit-box; 
       display: -ms-flexbox; 
       display: -webkit-flex; 
       display: flex; 
       -webkit-box-pack: center; 
       -ms-flex-pack: center; 
       -webkit-justify-content: center; 
       justify-content: center; 
       -webkit-box-align: center; 
       -ms-flex-align: center; 
       -webkit-align-items: center; 
       align-items: center; 
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
     } 

h1.slide_text{
    color: white;
    font-size: 3.6vw;
    font-family: 'NanumSquareEB';
   
}
h2.slide_subtext{
    color: white;
    font-size: 1.1vw;
    margin-top: 10px;
    font-family: 'NanumSquareB';
    justify-content: center;
    
}

button.slide_button{
    color: white;
    border: 2px solid white;
    width: 180px;
    font-size: 0.9vw;
    height: 45px;
    background: none;  
    margin-top: 50px;
    font-family: 'NanumSquareB';
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    vertical-align:middle;
}
button.slide_button{
  background: none;
  color: #fff;
  box-shadow: inset 0 0 0 0 #213859;
  transition: all 1.5s;
    -webkit-transition:all 1.5s;
    -moz-transform:all 1.5s;
    -ms-transform:all 1.5s;
    -o-transform:all 1.5s;
}

button.slide_button:hover {
  box-shadow: inset 100vmax 0 0 0 #213859;
  border:none;
  width: 180px;
  height: 45px;
  transition: all 3.5s;
-webkit-transition:all 3.5s;
    -moz-transform:all 3.5s;
    -ms-transform:all 3.5s;
    -o-transform:all 3.5s;
  color: white;

}

.scroll{position: relative;}
.scroll>p{
    position: absolute; 
    bottom: 46px; 
    color: white; 
    z-index: 1111; 
    text-align: center; 
    width: 100%;
    font-size: 0.7vw;
    font-family: 'NanumSquareEB';
    cursor: pointer;
}
p.scroll_line{
    width: 2px; 
    height: 30px; 
    background: white; 
    position: absolute; 
    bottom: 0; 
    z-index: 1111; 
    text-align: center;
    left: 50%;
}